avcpp/
flex/
angelscript/
libglvnd/
lyra/
sqlite_orm/
fswatch/
libatomic_ops/
statistic/
reactiveplusplus/
quaternions/
opencolorio/
nlopt/
breakpad/
argon2/
premake/
charls/
userspace-rcu/
level-zero/
mocknetworkaccessmanager/
cpp-dump/
editline/
hello-conan/
glaze/
rpclib/
libmicrohttpd/
samarium/
rocket/
ecos/
enkits/
libfreenect/
libnova/
ghc-filesystem/
id3v2lib/
nanoflann/
libdrawille/
fernandovelcic-hexdump/
gdal/
glpk/
ogdf/
absent/
argh/
psimd/
turtle/
tsl-sparse-map/
gtk/
libpng/
libsndio/
logr/
gcem/
opentelemetry-cpp/
plf_stack/
libyaml/
tscns/
intel-neon2sse/
annoy/
magic_enum/
readerwriterqueue/
kuba-zip/
libspng/
strawberryperl/
libcoap/
crunch/
cairomm/
rtm/
libaec/
libev/
patchelf/
scc/
zug/
emio/
json_struct/
bdwgc/
enum-flags/
tcp-wrappers/
pystring/
libvault/
libsixel/
libfuse/
wilzegers-autotest/
earcut/
vorbis/
scope-lite/
libyang/
plutosvg/
msgpack-cxx/
protozero/
aws-c-mqtt/
lely-core/
libqrencode/
cxxgraph/
wtl/
libbacktrace/
tinyexr/
mysql-connector-cpp/
libyuv/
azure-storage-cpp/
tracy/
forestdb/
enchant/
melon/
waf/
libsafec/
mysql-connector-c/
chef-fun/
oatpp/
onnxruntime/
.git/
fpzip/
tinyobjloader/
mpc/
wil/
screen_capture_lite/
runtimeqml/
ydcpp-tcpcat/
butteraugli/
nanobench/
gdcm/
celero/
sol2/
zlib-ng/
tiny-dnn/
at-spi2-atk/
si/
diligentgraphics-spirv-tools/
openssh/
icu/
rc_ptr/
podofo/
zlib/
plf_colony/
lzo/
cityhash/
im95able-rea/
mbits-diags/
md4qt/
pathie-cpp/
box2d/
mawk/
protobuf/
log.c/
libavrocpp/
opus/
libinput/
drflac/
ruy/
libid3tag/
lerc/
tl-function-ref/
wasmtime/
rapidyaml/
jungle/
semver.c/
gst-libav/
ctml/
intx/
doxygen/
calceph/
sjson-cpp/
platform.equality/
tng/
bimg/
libsamplerate/
b64/
msdfgen/
cpp-datetime-library/
ls-qpack/
opengl/
csm/
mgclient/
fast-cpp-csv-parser/
prometheus-cpp/
cpptoml/
basu/
fast-dds/
evmc/
jpeg-compressor/
libcorrect/
di/
jsonifier/
pbtools/
cute_headers/
eabase/
mikktspace/
opencl-icd-loader/
serial/
gperftools/
aws-c-sdkutils/
safeint/
greatest/
unordered_dense/
libcoro/
coin-cgl/
minisat/
mcap/
status-value-lite/
daw_json_link/
gsl/
re2/
sqlite3/
civetweb/
cpp-jwt/
enet/
choc/
libmediainfo/
gst-plugins-good/
lefticus-tools/
meson/
observer-ptr-lite/
tinycbor/
detours/
chunkio/
robin-hood-hashing/
bshoshany-thread-pool/
openldap/
rapidhash/
cgns/
pocketfft/
yajl/
faac/
spscqueue/
fruit/
gettext/
blend2d/
libsgp4/
clickhouse-cpp/
poshlib/
libdivide/
libqasm/
happly/
bullet3/
jfalcou-eve/
cpp-sort/
cub/
libbsd/
stx/
aws-c-common/
glu/
bliss/
dd-opentracing-cpp/
cppbenchmark/
bmx/
pretty-name/
ragel/
cpuinfo/
reproc/
readline/
iowow/
cppcheck/
libgd/
homog2d/
hffix/
libb2/
cubicinterpolation/
logfault/
libdxfrw/
libiec61850/
lazycsv/
frugally-deep/
openjdk/
libpq/
metal-cpp/
glfw/
xorg-macros/
yyjson/
taocpp-operators/
pkgconf/
graphthewy/
vulkan-memory-allocator/
fastprng/
cppkafka/
dav1d/
open62541pp/
jsonnet/
timsort/
crossdb/
quickfast/
make/
pciutils/
hdrhistogram-c/
libxslt/
trompeloeil/
coin-clp/
makefile-project-workspace-creator/
libnftnl/
egl/
osmanip/
websocketpp/
libfreenect2/
tinycthread/
tre/
ulfius/
argz/
cnpy/
qpdf/
i2c-tools/
cmake/
seasocks/
cn-cbor/
libmodbus/
cpp-optparse/
eiquadprog/
wg21-linear_algebra/
spirv-reflect/
crc_cpp/
create-dmg/
gm2calc/
status-code/
cppdap/
unqlite/
autoconf-archive/
suyash-ulid/
restinio/
wildmidi/
psyinf-gmtl/
tinymidi/
hana/
libpointmatcher/
highfive/
darknet/
avir/
libliftoff/
gf-complete/
threadpool/
croncpp/
coin-lemon/
liboping/
wasm-micro-runtime/
cpptrace/
libconfig/
etc2comp/
hipony-enumerate/
pulseaudio/
linmath.h/
backward-cpp/
pcg-cpp/
ceres-solver/
shaderc/
taglib/
enhex-strong_type/
metall/
cccl/
cctz/
libfdk_aac/
freetype/
minimp3/
libmysqlclient/
duckdb/
libnpy/
libcurl/
uwebsockets/
qpoases/
s2let/
iphreeqc/
tsl-array-hash/
tlx/
ignition-tools/
daw_utf_range/
zxing-cpp/
tinyspline/
rmm/
aws-crt-cpp/
pdf-writer/
winmd/
glm/
sdl_image/
mattiasgustavsson-libs/
qwt/
libstudxml/
libkml/
stlab/
libunwind/
octo-logger-cpp/
taocpp-json/
cajun-jsonapi/
ezc3d/
orcania/
aaplus/
stduuid/
statslib/
cpp-channel/
tcsbank-uri-template/
tk/
ags/
tl/
quill/
openal-soft/
fire-hpp/
cpprestsdk/
paho-mqtt-cpp/
nodesoup/
xnnpack/
cyrus-sasl/
getopt-for-visual-studio/
jxrlib/
dlib/
asyncly/
librasterlite/
djinni-support-lib/
cc65/
nanorange/
poppler/
keystone/
libsystemd/
mbits-utfconv/
giflib/
libtommath/
minmea/
qdbm/
openjpeg/
opengrm/
behaviortree.cpp/
ogre/
jsonformoderncpp/
hyperscan/
opengl-registry/
xege/
leveldb/
poco/
semimap/
tgbot/
concurrentqueue/
rectanglebinpack/
iir1/
ccache/
aws-c-compression/
zint/
libxmlpp/
googleapis/
chaiscript/
gainput/
msdf-atlas-gen/
godot_headers/
hidapi/
mpg123/
libltc/
nmslib/
jemalloc/
gst-plugins-base/
bredis/
sbp/
artery-font-format/
optimlib/
szip/
libmad/
cppitertools/
easyloggingpp/
heatshrink/
qt-advanced-docking-system/
jerryscript/
usrsctp/
thrift/
libgta/
rocksdb/
frugen/
zstd/
mongo-cxx-driver/
huffman/
proxy/
boost-leaf/
libmodplug/
nmos-cpp/
ensmallen/
amgcl/
poppler-data/
libsndfile/
taocpp-taopq/
tinkerforge-bindings/
btyacc/
canary/
cppcommon/
yder/
wayland/
c-dbg-macro/
range-v3/
mongo-c-driver/
effcee/
nanosvg/
fontconfig/
pybind11_json/
octo-keygen-cpp/
srt/
plog/
accellera-uvm-systemc/
libplist/
sbepp/
astro-informatics-so3/
aws-c-io/
rotor/
ois/
cppserver/
libspatialite/
magnum/
pro-mdnsd/
libslz/
inih/
opendis6/
kaitai_struct_cpp_stl_runtime/
sobjectizer/
commata/
hexl/
stella-cv-fbow/
yasm/
libdmtx/
rectpack2d/
opencl-headers/
libjuice/
termcap/
acl/
zmqpp/
xerces-c/
msgpack/
miniz/
libcvd/
sdl/
cppcodec/
archicad-apidevkit/
libdatrie/
bertrand/
raylib/
tsl-robin-map/
fmi1/
zulu-openjdk/
utf8.h/
qt/
opentelemetry-proto/
arsenalgear/
luau/
muparserx/
tree-sitter-cpp/
libsvm/
geotrans/
draco/
dsp-filters/
coin-utils/
coin-osi/
theora/
libxshmfence/
easyhttpcpp/
rtklib/
seadex-essentials/
expected-lite/
md4c/
rttr/
wayland-protocols/
tl-ranges/
egl-headers/
scdoc/
tmxlite/
ittapi/
cfitsio/
rsync/
gemmlowp/
popl/
aws-libfabric/
gobject-introspection/
inipp/
openfbx/
openscenegraph/
libsvtav1/
urdfdom/
paho-mqtt-c/
vulkan-validationlayers/
imath/
djvulibre/
redradist-icc/
lcms/
tar/
xqilla/
libx264/
mesa-glu/
mathfu/
libnuma/
plf_list/
libipt/
libavif/
libnfs/
roaring/
hash-library/
skyr-url/
fastgltf/
libelf/
utfcpp/
libressl/
mbits-args/
pfr/
vulkan-headers/
base64/
tidy-html5/
bacnet-stack/
cd3-boost-unit-definitions/
wasmtime-cpp/
re2c/
hiredis/
msys2/
jansson/
simple-yaml/
nudb/
structopt/
sdbus-cpp/
usockets/
jthread-lite/
svgpp/
ssht/
wxwidgets/
pthreads4w/
upa-url/
automake/
poly2tri/
jom/
tesseract/
snappy/
soci/
aggeom-agg/
open-dis-cpp/
half/
sfml/
mbits-lngs/
libhal/
indirect_value/
openassetio/
polymorphic_value/
cjson/
tree-sitter-c/
liblsl/
uvw/
cpython/
svtjpegxs/
cpr/
platformfolders/
seqan/
simdjson/
safe/
tiny-optional/
imake/
libnet/
drwav/
verilator/
geometrictoolsengine/
oatpp-postgresql/
influxdb-cpp/
dime/
cppunit/
tuplet/
embree3/
liblzf/
sml/
hazelcast-cpp-client/
dacap-clip/
enjincppsdk/
hfsm2/
unicorn/
apr-util/
rusty-cpp/
libxlsxwriter/
ssp/
xproperty/
openddl-parser/
ftjam/
boost-ext-ut/
libe57format/
ode/
net-snmp/
symengine/
xlnt/
inja/
nsync/
mgs/
libwebp/
sdf/
emsdk/
rangeless/
kdbindings/
enumbitmask/
crc32c/
yojimbo/
nasm/
simde/
libepoxy/
luajit/
cspice/
lief/
capnproto/
maddy/
opentrackio-cpp/
quirc/
aws-sdk-cpp/
ohpipeline/
depot_tools/
openssl/
pgm-index/
freexl/
yas/
parlayhash/
libmikmod/
libmorton/
khrplatform/
ffmpeg/
rply/
erkir/
mpir/
faker-cxx/
jsmn/
xpack/
naive-tsearch/
signals-light/
shield/
dylib/
immer/
mlpack/
luple/
nodejs/
llvm-openmp/
modern-cpp-kafka/
fmi2/
arduinojson/
libmagic/
uchardet/
apr/
oatpp-sqlite/
cmaes/
libffi/
libuvc/
mujs/
loguru/
parg/
cvplot/
clara/
rg-etc1/
nameof/
simd/
cpp_project_framework/
cgif/
magnum-integration/
lzip/
quickjs/
tweenerspp/
xmlsec/
inversify-cpp/
pango/
gzip-hpp/
capstone/
openimageio/
hippomocks/
libnoise/
plf_queue/
kubernetes/
libnetfilter_queue/
opusfile/
xapian-core/
anyrpc/
libgit2/
optional-lite/
libarchive/
rdma-core/
sdl_net/
odpi/
cnats/
squirrel/
sioclient/
access_private/
abseil/
libmpdclient/
picojson/
tinyalsa/
samurai/
benchmark/
dfp/
libgpg-error/
qarchive/
fribidi/
cern-root/
bitmagic/
tsl-ordered-map/
lurlparser/
eudev/
libversion/
sail/
circularbuffer/
cpp-smtpclient-library/
fft/
asio-grpc/
glshaderpp/
octo-wildcardmatching-cpp/
efsw/
ldns/
reflect-cpp/
tclap/
nifti_clib/
implot/
lzham/
dispenso/
glog/
stdgpu/
libevdev/
harfbuzz/
cgltf/
libmemcached/
directx-headers/
battery-embed/
libzen/
openfst/
vincentlaucsb-csv-parser/
fmi3/
transwarp/
tinyply/
lemon/
sqlitemap/
libsolace/
tsil/
nvcloth/
outcome/
libdaemon/
netcdf/
tinygltf/
mikelankamp-fpm/
wyhash/
openmesh/
pexports/
graaf/
onnx/
libnl/
joltphysics/
v-hacd/
z3/
imagl/
libevent/
amqp-cpp/
yaml-cpp/
very-simple-smtps/
zmarok-semver/
source_location/
libsquish/
lmdb/
nuraft/
cocoyaxi/
farmhash/
libvdpau/
isa-l/
snitch/
octomap/
pthreadpool/
libiberty/
flann/
aws-c-s3/
span-lite/
mpdecimal/
ipaddress/
edlib/
libtar/
openvino/
manifold/
crossguid/
csvmonkey/
freeglut/
limereport/
qtxlsxwriter/
pixman/
diligent-fx/
qtawesome/
ms-gsl/
winreg/
icecream-cpp/
nextsilicon-cpp-subprocess/
hwloc/
cglm/
aravis/
sdl_mixer/
libusb/
mio/
gsl-lite/
antlr4/
libultrahdr/
jbig/
pcapplusplus/
hdf4/
libsrtp/
avahi/
spdlog/
eastl/
gsoap/
brunsli/
openxlsx/
resultlib/
brynet/
spirv-headers/
effolkronium-random/
libattr/
pngpp/
b2/
graphene/
mpfr/
snowhouse/
cargs/
functions-framework-cpp/
ctrack/
util-linux-libuuid/
docopt.cpp/
json_dto/
serdepp/
macdylibbundler/
binutils/
libcuckoo/
neargye-semver/
caches/
diligent-tools/
tinyad/
zserio/
geos/
libdicom/
easylzma/
cutlass/
lua/
libdc1394/
velodyne_decoder/
acado/
spectra/
azure-sdk-for-cpp/
opene57/
mp-units/
cctag/
platform.hashing/
crowcpp-crow/
resource_pool/
libschrift/
expat/
frozen/
xorg-proto/
sleef/
libaom-av1/
norm/
asyncpp/
whereami/
libftp/
godot-cpp/
units/
asio/
tiledb/
cs_libguarded/
iguana/
ofeli/
libverto/
nativefiledialog/
pdfgen/
opencv/
libpopcnt/
cuda-samples/
fast-cdr/
imguizmo/
uni-algo/
namedtype/
coin-cbc/
zopfli/
android-ndk/
m4/
aeron/
vk-bootstrap/
ouster_sdk/
ogg/
cryptopp-pem/
gst-plugins-ugly/
lielab/
quickfix/
taywee-args/
openexr/
nlohmann_json/
xsimd/
protobuf-c/
upx/
dragonbox/
libucl/
protopuf/
playrho/
nsimd/
pmp/
xoshiro-cpp/
sophus/
cthash/
flatbush/
cppzmq/
jsoncpp/
qhull/
mpark-variant/
scnlib/
out_ptr/
metis/
materialx/
tqdm-cpp/
portable-file-dialogs/
rebound/
foxglove-websocket/
oatpp-openssl/
pugixml/
gtlab-logging/
libsass/
refl-cpp/
jsbsim/
sole/
ios-cmake/
picosha2/
kplot/
open62541/
fltk/
glibmm/
openh264/
libtorrent/
qxmpp/
tinyexif/
mingw-w64/
nodeeditor/
doctest/
libphonenumber/
llnl-units/
gas-preprocessor/
cxxopts/
libconfuse/
libgpiod/
wasmer/
intel-ipsec-mb/
argparse/
libusb-compat/
compute_library/
glad/
h5pp/
hunspell/
tiny-aes-c/
miniupnpc/
llvm-core/
thelink2012-any/
isl/
vo-amrwbenc/
meshoptimizer/
quazip/
diligent-core/
valijson/
openfx/
libfabric/
nettle/
qcbor/
libunistring/
rvo2/
toml11/
minitrace/
foxglove-schemas-protobuf/
aaf/
backport-cpp/
popt/
libdrm/
wasmedge/
libtasn1/
tree-sitter-sql/
cli11/
xorg/
imgui/
hwdata/
daggy/
magnum-extras/
xtrans/
crow/
libuuid/
zyre/
libsmacker/
dbg-macro/
openmvg/
tbb/
mini/
tllist/
gegles-spdlog_setup/
sonic-cpp/
platform.delegates/
visit_struct/
mbits-mstch/
pcl/
libwebsockets/
cigi-ccl/
gn/
liburing/
dr_libs/
qxlsx/
libprotobuf-mutator/
lodepng/
libgettext/
gamenetworkingsockets/
gaia-ecs/
vc/
flatbuffers/
libheif/
unity/
fastnoise2/
bazel/
openal/
libsigcpp/
openslide/
xkbcommon/
arg_router/
eventpp/
minicoro/
tgc/
7zip/
quickcpplib/
oatpp-libressl/
minhook/
xxsds-sdsl-lite/
clhep/
aws-c-auth/
yoga/
mdns/
ntv2/
c-ares/
itk/
libudev/
pprint/
mapbox-wagyu/
diligentgraphics-spirv-headers/
libnabo/
mapbox-variant/
libzip/
crcpp/
rapidcsv/
nuklear/
ptex/
boolinq/
octo-encryption-cpp/
xbyak/
redis-plus-plus/
assimp/
kuliya/
fusepp/
pffft/
msgpack23/
glbinding/
atk/
catch2/
cppcmd/
ctpg/
exprtk/
muparser/
libcheck/
libcds/
zbar/
primesieve/
yandex-ozo/
pdcurses/
dnet/
libgphoto2/
fmtlog/
rangesnext/
andreasbuhr-cppcoro/
google-cloud-cpp/
voropp/
jsoncons/
unleash-client-cpp/
indicators/
platform.converters/
seqan3/
flac/
microtar/
armadillo/
libtool/
clove-unit/
emhash/
cqrlib/
libnghttp2/
cereal/
nng/
kainjow-mustache/
vdpau/
pistache/
imgui-sfml/
gtest/
bx/
aws-c-cal/
libaesgm/
bvdberg-ctest/
minizip-ng/
taocpp-tuple/
restbed/
aws-lambda-cpp/
pipes/
openmpi/
systemc-cci/
gumbo-parser/
wolfssl/
oatpp-swagger/
ada/
bigint/
libuv/
gli/
rxcpp/
continuable/
winflexbison/
subunit/
proj/
streaming-percentiles/
cryptopp/
embag/
serd/
embree/
foxi/
uthash/
onetbb/
librasterlite2/
guetzli/
highs/
libmd/
quantlib/
dbcppp/
libbasisu/
dataframe/
g3log/
mariadb-connector-c/
polylineencoder/
readosm/
bandit/
xorg-makedepend/
stc/
toon/
approvaltests.cpp/
fftw/
type_safe/
matchit/
cpp-lazy/
iceoryx/
orc/
physx/
libxls/
greg7mdp-gtl/
plf_indiesort/
function2/
fmt/
libmp3lame/
string-view-lite/
lunasvg/
krb5/
cunit/
ua-nodeset/
st_tree/
opentracing-cpp/
thrust/
opentdf-client/
sqlite3mc/
elfio/
brigand/
nanomsg/
fixed_math/
cotila/
s2n/
djinni-generator/
alembic/
gflags/
xkeyboard-config/
tensorpipe/
rabbitmq-c/
pcre2/
poselib/
libdeflate/
alpaca/
polylabel/
urdfdom_headers/
gurkenlaeufer/
xxhash/
libxpm/
iqa/
ncbi-cxx-toolkit-public/
libmnl/
certify/
gmp/
dependencies/
corrade/
tz/
speedb/
scons/
gklib/
7bitconf/
alac/
genie/
s2geometry/
astc-codec/
autoconf/
tweetnacl/
nss/
flecs/
eigen/
parallel-hashmap/
czmq/
leptonica/
libnice/
rapidjson/
glew/
libcpuid/
taocpp-pegtl/
serf/
nghttp3/
json-schema-validator/
libxft/
liblqr/
libdb/
opencascade/
pagmo2/
ixwebsocket/
easyexif/
ade/
baical-p7/
sundials/
sentry-native/
ctre/
marisa/
sentry-breakpad/
ccfits/
qoixx/
qoi/
gperf/
asn1c/
pdal/
libvips/
opencore-amr/
games101-cgl/
veque/
libmbus/
clipp/
dbus/
numcpp/
libjxl/
univalue/
blaze/
libbpf/
pdfium/
soundtouch/
moltenvk/
troldal-zippy/
grpc-proto/
zeromq/
llama-cpp/
litehtml/
rapidfuzz/
nanodbc/
libcap/
xz_utils/
msgpack-c/
vigra/
crashpad/
spix/
mosquitto/
gstreamer/
sparrow/
log4cxx/
systemc/
glext/
imagemagick/
cprocessing/
nv-codec-headers/
termcolor/
volk/
platform.exceptions/
c-client/
reckless/
nmea/
lzfse/
fast_float/
dcmtk/
sqlitecpp/
pcre/
coost/
wiringpi/
irrxml/
pbc/
cpp-peglib/
libde265/
soxr/
mfast/
variant-lite/
lager/
beauty/
tomlplusplus/
pybind11/
vulkan-loader/
libigl/
procxx-boost-ext-simd/
cuda-api-wrappers/
clipboard_lite/
kcov/
tweeny/
fakeit/
h3/
cista/
zfp/
highway/
c-blosc/
erikzenker-hsm/
scippp/
libnop/
xorstr/
librdata/
zstr/
entt/
swig/
msix/
tiny-bignum-c/
cairo/
hictk/
watcher/
libpciaccess/
cassandra-cpp-driver/
aws-c-http/
ftxui/
tcl/
libgeotiff/
trantor/
gst-plugins-bad/
tiny-utf8/
innoextract/
librealsense/
libest/
cpputest/
bitsery/
opencl-clhpp-headers/
copypp/
sfl/
cpp-ipc/
plf_nanotimer/
laslib/
librttopo/
pranav-csv2/
mozjpeg/
log4cpp/
ignition-math/
bzip2/
kmod/
physfs/
kickcat/
spy/
fp16/
keychain/
bison/
exiv2/
tixi3/
libtins/
fcl/
boolean-lite/
wise_enum/
http_parser/
librhash/
libmetalink/
openapi-generator/
libmaxminddb/
vcglib/
cose-c/
kangaru/
libharu/
proposal/
libexif/
argtable3/
libnetfilter_conntrack/
gnulib/
jinja2cpp/
itlib/
libdisasm/
aws-c-event-stream/
ninja/
onedpl/
etl/
at-spi2-core/
tinyxml/
libpcap/
platform.interfaces/
atomic_queue/
libsodium/
libelfin/
minio-cpp/
tcb-span/
libserial/
edyn/
wineditline/
cmocka/
microservice-essentials/
rtmidi/
odbc/
tree-sitter/
tinydir/
redboltz-mqtt_cpp/
vectorscan/
aruco/
rgbcx/
mozilla-build/
rapidxml/
miniaudio/
minizip/
tsl-hopscotch-map/
console_bridge/
rang/
lksctp-tools/
enhex-generic_serialization/
libxcrypt/
co/
microprofile/
sdl_ttf/
librdkafka/
tsl-hat-trie/
getdns/
zimg/
devil/
libwebm/
openvr/
streamvbyte/
lest/
picobench/
gdk-pixbuf/
imutils-cpp/
log4cplus/
bezier/
vectorial/
libdwarf/
nanort/
debug_assert/
zpp_throwing/
spirv-cross/
7bitdi/
simple_enum/
kissfft/
ignition-cmake/
gcc/
vaapi/
etcd-cpp-apiv3/
ann/
soplex/
taskflow/
panzi-portable-endian/
lz4/
coz/
double-conversion/
svector/
libmount/
libvpx/
kcp/
xtr/
maven/
fast_io/
kealib/
plusaes/
ncurses/
libpsl/
wide-integer/
easy_profiler/
osgearth/
ohnet/
uriparser/
any-lite/
recastnavigation/
lightgbm/
vsg/
ginkgo/
cpp-taskflow/
cwalk/
iso8601lib/
packio/
osqp/
sofa/
cmp/
mingw-builds/
tiny-regex-c/
zoe/
antlr4-cppruntime/
gnutls/
qcustomplot/
json-c/
arrow/
incbin/
tensorflow-lite/
laszip/
libbigwig/
bgfx/
libraw/
fast_double_parser/
fpgen/
jeaiii-itoa/
oboe/
libjpeg/
leopard/
xlsxio/
perfetto/
concurrencpp/
uncrustify/
libssh2/
functionalplus/
qcoro/
manif/
discount/
mtfmt/
fxdiv/
aws-checksums/
cpp-yyjson/
libjpeg-turbo/
yomm2/
fastpfor/
lexbor/
parson/
brotli/
au/
sassc/
libdispatch/
libpqxx/
tl-expected/
zookeeper-client-c/
embedded_ringbuf_cpp/
p-ranav-glob/
arcus/
mtdev/
asmtk/
dlpack/
decimal_for_cpp/
linux-headers-generic/
foonathan-memory/
influxdb-cxx/
asmjit/
mimalloc/
linux-syscall-support/
jtckdint/
oatpp-websocket/
cgal/
apriltag/
matio/
mm_file/
nvtx/
drogon/
cimg/
canvas_ity/
detools/
scip/
twitchtv-libsoundtrackutil/
qr-code-generator/
eternal/
liquid-dsp/
simfil/
boost/
miniscript/
tl-optional/
tree-gen/
xtensor/
vvenc/
open-simulation-interface/
bitserializer/
jasper/
thorvg/
kitten/
libx265/
bear/
gnu-config/
argtable2/
async_simple/
xorg-cf-files/
pdqsort/
folly/
openpam/
utf8proc/
ktx/
mbedtls/
simdutf/
replxx/
libcbor/
openblas/
libva/
freeimage/
flatcc/
sokol/
libiconv/
gtsam/
so5extra/
sqlpp11-connector-sqlite3/
sqlcipher/
sentry-crashpad/
teemo/
grpc/
npcap/
cpp-httplib/
mpmcqueue/
libgcrypt/
glslang/
llhttp/
flatc/
oniguruma/
mdspan/
hlslpp/
morton-nd/
rapidcheck/
tabulate/
aws-cdi-sdk/
libboxes/
mathter/
asyncplusplus/
mdnsresponder/
cpu_features/
libtiff/
taocpp-sequences/
cfgfile/
newmat/
spirv-tools/
mailio/
libaio/
cminpack/
drmp3/
libxml2/
jpcre2/
objectbox-generator/
c4core/
libproperties/
fff/
openvdb/
lzma_sdk/
curlpp/
whisper-cpp/
libssh/
iconfontcppheaders/
clipper2/
libidn2/
libsersi/
pupnp/
libzippp/
tinyxml2/
gamma/
boostdep/
bitflags/
libccd/
tidwall-neco/
libfork/
ruby/
gdbm/
mold/
libspatialindex/
diligentgraphics-vulkan-headers/
mapbox-geometry/
libui/
opengv/
ignition-utils/
stringtoolbox/
mppp/
aws-kvs-pic/
vtu11/
strong_type/
wildcards/
confu_json/
cppfront/
dirent/
libftdi/
wslay/
perlinnoise/
directshowbaseclasses/
gfortran/
vir-simd/
yaclib/
clipper/
rmlui/
xtl/
idna/
mariadb-connector-cpp/
libenvpp/
flint/
ctrl-c/
libselinux/
bit-lite/
tinycolormap/
c-blosc2/
dpp/
splunk-opentelemetry-cpp/
lightpcapng/
libinterpolate/
r8brain-free-src/
botan/
svgwrite/
dbus-cxx/
cuda-kat/
libnfnetlink/
dice-template-library/
cwt-cucumber/
libalsa/
magnum-plugins/
daw_header_libraries/
mbits-semver/
observable_unique_ptr/
plutovg/
date/
jnk0le_ringbuffer/
flux/
cpp-validator/
hayai/
libassert/
cr/
dtl/
zeus_expected/
tree-sitter-cql/
entityx/
xorg-gccmakedep/
jwt-cpp/
foonathan-lexy/
ocilib/
libmeshb/
audiowaveform/
ethash/
libsecret/
args-parser/
jwasm/
zpp_bits/
openjph/
sqlpp11/
libunifex/
seadex-genesis/
sigslot/
duckx/
deco/
gtk-doc-stub/
pangomm/
tcsbank-uconfig/
wavelet_buffer/
opensubdiv/
wglext/
vectorclass/
libidn/
read-excel/
libpfm4/
freealut/
caf/
nspr/
stringzilla/
libdatachannel/
shapelib/
fixed-containers/
twitch-native-ipc/
p7zip/
wt/
libdisplay-info/
nas/
resiprocate/
cli/
ozz-animation/
extra-cmake-modules/
tinycthreadpool/
libseat/
tmx/
perf/
libhydrogen/
ring-span-lite/
elfutils/
zziplib/
duktape/
hedley/
simple-websocket-server/
chipmunk2d/
stb/
bzip3/
byte-lite/
xsd/
nfrechette-acl/
audiofile/
geographiclib/
glib/
libq/
hdf5/
